<main class="main">
  <div class="content">
    <div class="comment-list">
      <h2>Comments</h2>

      <input
        #listItem
        (keyup.enter)="addItem(listItem.value)"
      />
      <button type="button" (click)="addItem(listItem.value)">Add</button>

      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listItems">
          <td>{{ item.id }}</td>
          <td>{{ item.description }}</td>
          <td>
            <button type="button" (click)="deleteItem(item.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<router-outlet/>
